# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Thumbnails
*DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

samples/*
testImages/gen.go
testImages/*.html
meta/cmd/*
xmp/test/*
